@use "mixins";
@use "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.hero {
  display: flex;
  background-position: center 20%;
  background-size: cover;
  padding: 40px 20px;
  color: variables.$white-color; //white

  h1 {
    @include mixins.text-shadow;
    margin: 0 10px 0 auto;
    text-align: center;
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: -5px;
  }
}
.hero__city-info {
  display: flex;
  flex-direction: column;

  input {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid variables.$black-color; //black
    background: variables.$clear-white; //white + t=0.5
    color: variables.$black-color; //black

    &::placeholder {
      color: variables.$black-color; //black
    }
  }
}

.city-info__city-name {
  @include mixins.text-shadow;
  margin: 10px 0;
  font-size: 30px;
}

.city-info__city-temp {
  font-size: 24px;
  @include mixins.text-shadow;
}

// Daily/Hourly Weather results
.daily-weather {
  display: flex;
  text-align: center;
  color: variables.$white-color;

  flex-direction: column;

  padding: 20px;
  background-color: variables.$weather-report-bg; //blue
}

.daily-weather__results {
  justify-content: center;
  width: 100%;
  display: flex;
  overflow-x: auto;
  scrollbar-width: thin;
  padding: 20px 0;
  list-style: none;

  li {
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    border-radius: 15px;
    color: variables.$white-color;
  }
}

.hourly-time {
  margin-bottom: 10px;
}

.hourly-temp {
  margin-top: 20px;
}

.hourly-perception {
  margin: 20px 0 10px;
  font-size: 14px;

  &::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
    content: "\f043";
    font-size: 12px;
  }
}

// Weather  ICONS/IMG
.weather-moon {
  @include mixins.hourly-weather-icon(0px, 35px, 35px, "../images/moon.png");
}

.weather-sun {
  @include mixins.hourly-weather-icon(0px, 35px, 35px, "../images/sunny.png");
}

.weather-cloud {
  @include mixins.hourly-weather-icon(0px, 35px, 35px, "../images/cloud.png");
}

.weather-rain {
  @include mixins.hourly-weather-icon(0px, 35px, 35px, "../images/rain.png");
}

.weather-snow {
  @include mixins.hourly-weather-icon(0px, 35px, 35px, "../images/snowflake.png");
}
.sunrise {
  @include mixins.hourly-weather-icon(0px, 35px, 35px, "../images/sunrise.png");
}
.sunset {
  @include mixins.hourly-weather-icon(0px, 35px, 35px, "../images/sunset.png");
}

// Weekly weather section //
.weekly-weather {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: variables.$weather-report-bg; //blue
}

.weekly-weather__title {
  color: variables.$white-color;
  margin: 10px 0 30px;
}

// Weekly weather results //
.forecast__results {
  margin-bottom: 30px;
  li {
    display: flex;
    gap: 10px;
    align-items: center;

    margin-bottom: 8px;
    color: variables.$white-color;
  }

  .header-row {
    gap: 10px;

    .dayRepresentaion {
      width: 75px;
    }

    .min-temp {
      @include mixins.hourly-weather-icon(0, 35px, 35px, "../images/cold.png");
    }

    .max-temp {
      @include mixins.hourly-weather-icon(0, 35px, 35px, "../images/hot.png");
    }
  }

  .day-name {
    width: 30px;
  }

  .weather-parameter {
    width: 35px;
    text-align: center;
  }
}

///////////////////////////
// Weekly weather chart //
/////////////////////////
.forecast__chart {
  display: flex;
  justify-content: center;
  width: 240px;
  height: 240px;
}

// Chart BUTTONS //
.chart__previous {
  @include mixins.chart-buttons("\f104");
}
.chart__next {
  @include mixins.chart-buttons("\f105");
}

// Marking current houre //
.current-hour {
  background-color: variables.$current-houre-bg; //dark blue
}

// Tablet view //
@media (min-width: 768px) {
  .hero {
    padding: 20px 20px 50px;

    h1 {
      font-size: 45px;
    }
  }

  .hero__city-info {
    input {
      font-size: 20px;
    }
  }

  .city-info__city-name {
    font-size: 40px;
  }

  .city-info__city-temp {
    font-size: 36px;
  }

  .weekly-weather {
    gap: 10%;
  }

  .weekly-weather__forecast {
    display: flex;
    gap: 100px;
  }

  .forecast__chart {
    width: 300px;
    height: 350px;
  }
}
