@use "mixins";
@use "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.hero {
  display: flex;
  // background-position: center;
  background-size: cover;
  padding: 40px 20px;
  color: variables.$white-color; //white

  div {
    display: flex;
    flex-direction: column;

    input {
      width: auto;
      padding: 10px;
      border-radius: 10px;
      border: 2px solid variables.$black-color; //black
      background: variables.$clear-white; //white + t=0.5
      color: variables.$black-color; //black

      &::placeholder {
        color: variables.$black-color; //black
      }
    }

    strong {
      margin: 10px 0;
      font-size: 30px;
      text-shadow: -1px -1px 0 variables.$black-color, 1px -1px 0 variables.$black-color, -1px 1px 0 variables.$black-color, 1px 1px 0 variables.$black-color;
    }

    p {
      font-size: 24px;
      text-shadow: -1px -1px 0 variables.$black-color, 1px -1px 0 variables.$black-color, -1px 1px 0 variables.$black-color, 1px 1px 0 variables.$black-color;
    }
  }

  h1 {
    text-shadow: -1px -1px 0 variables.$black-color, 1px -1px 0 variables.$black-color, -1px 1px 0 variables.$black-color, 1px 1px 0 variables.$black-color;
    margin: 0 10px 0 auto;
    text-align: center;
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: -5px;
  }
}

// Daily/Hourly Weather results
.daily-weather {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  background-color: variables.$weather-report-bg; //blue
}

.daily-weather__results {
  display: flex;
  overflow-x: auto;
  scrollbar-width: thin;
  padding: 20px 0;
  list-style: none;

  li {
    padding-right: 10px;
    text-align: center;
    font-size: 20px;
    color: variables.$white-color;
  }
}

.hourly-time {
  margin-bottom: 10px;
}

.hourly-temp {
  margin-top: 20px;
}

.hourly-perception {
  margin-top: 20px;
  font-size: 14px;

  &::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
    content: "\f043";
  }
}

// Daily/Hourly Weather results ICONS/IMG
.hourly-weather-moon {
  @include mixins.hourly-weather-icon(8px, 40px, 40px, "../images/moon.png");
}

.hourly-weather-sun {
  @include mixins.hourly-weather-icon(8px, 40px, 40px, "../images/sunny.png");
}

.hourly-weather-cloud {
  @include mixins.hourly-weather-icon(8px, 40px, 40px, "../images/cloud.png");
}

.hourly-weather-rain {
  @include mixins.hourly-weather-icon(8px, 40px, 40px, "../images/rain.png");
}

.hourly-weather-snow {
  @include mixins.hourly-weather-icon(8px, 40px, 40px, "../images/snowflake.png");
}
.sunrise {
  @include mixins.hourly-weather-icon(8px, 40px, 40px, "../images/sunrise.png");
}
.sunset {
  @include mixins.hourly-weather-icon(8px, 40px, 40px, "../images/sunset.png");
}

// Weekly weather section
.weakly-weather {
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  background-color: variables.$weather-report-bg; //blue
}

// Weekly weather results (TABLE)
.weakly-weather__results {
  li {
    display: flex;
    gap: 15px;
    align-items: center;

    margin-bottom: 8px;
    color: variables.$white-color;
  }

  .header-row {
    gap: 0;

    .dayRepresentaion {
      width: 80px;
    }

    .sunrise {
      @include mixins.hourly-weather-icon(15px, 30px, 30px, "../images/sunrise.png");
    }

    .sunset {
      @include mixins.hourly-weather-icon(20px, 30px, 30px, "../images/sunset.png");
    }

    .min-temp {
      @include mixins.hourly-weather-icon(13px, 30px, 30px, "../images/cold.png");
    }

    .max-temp {
      @include mixins.hourly-weather-icon(11px, 30px, 30px, "../images/hot.png");
    }
  }

  .day-name {
    width: 30px;
  }

  .weather-param-time {
    width: 37px;
    text-align: center;
  }

  .weather-param-temp {
    width: 25px;
    text-align: center;
  }
}
// Marking current houre
.current-houre {
  background-color: rgb(14, 70, 190);
}

// Weekly weather ICONS/IMG
.weekly-weather-sun {
  @include mixins.hourly-weather-icon(0px, 30px, 30px, "../images/sunny.png");
}

.weekly-weather-cloud {
  @include mixins.hourly-weather-icon(0px, 30px, 30px, "../images/cloud.png");
}

.weekly-weather-rain {
  @include mixins.hourly-weather-icon(0px, 30px, 30px, "../images/rain.png");
}

.weekly-weather-snow {
  @include mixins.hourly-weather-icon(0px, 30px, 30px, "../images/snowflake.png");
}

// Tablet view
@media (min-width: 768px) {
  .hero {
    padding: 20px 20px 50px;

    div {
      input {
        font-size: 20px;
      }

      strong {
        font-size: 40px;
      }

      p {
        font-size: 35px;
      }
    }

    h1 {
      font-size: 45px;
    }
  }
}

// Desktop view
// @media (min-width: 1024px) {
// }
