@use "mixins";
@use "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  display: flex;
  background: url(/images/seasons.jpg);
  background-position: center 20%;
  background-size: cover;
  padding: 40px 20px;
  color: variables.$white-color; //white

  h1 {
    @include mixins.text-shadow;
    margin: 0 10px 0 auto;
    text-align: center;
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: -5px;
  }
}
.hero__city-info {
  display: flex;
  flex-direction: column;

  input {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid variables.$black-color; //black
    background: variables.$clear-white; //white + t=0.5
    color: variables.$black-color; //black

    &::placeholder {
      color: variables.$black-color; //black
    }
  }
}

.city-info__city-name {
  @include mixins.text-shadow;
  margin: 10px 0;
  font-size: 30px;
}

.city-info__city-temp {
  font-size: 24px;
  @include mixins.text-shadow;
}

// BREAK SECTIONS //
.break-sections {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: rgb(223, 223, 223);
}

// Weather-data //
.weather-data {
  background-color: variables.$weather-report-bg;
  // background-position: center;
  // background-size: cover;
}

// Daily/Hourly Weather results
.daily-weather {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: variables.$white-color;
  padding: 20px;
}

.daily-weather__results {
  width: 100%;
  display: flex;
  overflow-x: auto;
  scrollbar-width: thin;
  padding: 20px 0;
  list-style: none;

  li {
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    border-radius: 15px;
    color: variables.$white-color;
  }
}

.hourly-time {
  margin-bottom: 10px;
}

.hourly-temp {
  margin-top: 20px;
}

.hourly-precipitation {
  margin: 20px 0 10px;
  font-size: 14px;

  &::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
    content: "\f043";
    font-size: 12px;
  }
}

// Weather  ICONS/IMG
.weather-moon {
  @include mixins.hourly-weather-icon(0px, 35px, 35px, "../images/weather-icons/moon.png");
}

.weather-sun {
  @include mixins.hourly-weather-icon(0px, 35px, 35px, "../images/weather-icons/sunny.png");
}

.weather-cloud {
  @include mixins.hourly-weather-icon(0px, 35px, 35px, "../images/weather-icons/cloud.png");
}

.weather-rain {
  @include mixins.hourly-weather-icon(0px, 35px, 35px, "../images/weather-icons/rain.png");
}

.weather-partly-cloudy-sun {
  @include mixins.hourly-weather-icon(0px, 35px, 35px, "../images/weather-icons/partly-cloudy.png");
}

.weather-partly-cloudy-moon {
  @include mixins.hourly-weather-icon(0px, 35px, 35px, "../images/weather-icons/partly-cloudy-moon.png");
}

.weather-snow {
  @include mixins.hourly-weather-icon(0px, 35px, 35px, "../images/weather-icons/snow.png");
}

.weather-fog {
  @include mixins.hourly-weather-icon(0px, 35px, 35px, "../images/weather-icons/fog.png");
}

.weather-drizzle {
  @include mixins.hourly-weather-icon(0px, 35px, 35px, "../images/weather-icons/drizzle.png");
}

.weather-freezing-drizzle {
  @include mixins.hourly-weather-icon(0px, 35px, 35px, "../images/weather-icons/freezing-drizzle.png");
}

.weather-thunderstorm {
  @include mixins.hourly-weather-icon(0px, 35px, 35px, "../images/weather-icons/thunderstorm.png");
}

.weather-hail {
  @include mixins.hourly-weather-icon(0px, 35px, 35px, "../images/weather-icons/hail.png");
}

.weather-rain-shower {
  @include mixins.hourly-weather-icon(0px, 35px, 35px, "../images/weather-icons/rain-shower.png");
}

.sunrise {
  @include mixins.hourly-weather-icon(0px, 35px, 35px, "../images/weather-icons/sunrise.png");
}

.sunset {
  @include mixins.hourly-weather-icon(0px, 35px, 35px, "../images/weather-icons/sunset.png");
}

// Weekly weather section //
.weekly-weather {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weekly-weather__title {
  color: variables.$white-color;
  margin: 10px 0 30px;
}

// Weekly weather results //
.forecast__results {
  margin-bottom: 30px;
  li {
    display: flex;
    gap: 10px;
    align-items: center;

    margin-bottom: 8px;
    color: variables.$white-color;
  }

  .header-row {
    gap: 10px;

    .dayName {
      width: 75px;
    }

    .min-temp {
      @include mixins.hourly-weather-icon(0, 35px, 35px, "../images/weather-icons/cold.png");
    }

    .max-temp {
      @include mixins.hourly-weather-icon(0, 35px, 35px, "../images/weather-icons/hot.png");
    }
  }

  .day-name {
    width: 30px;
  }

  .weather-parameter {
    width: 35px;
    text-align: center;
  }
}

///////////////////////////
// Weekly weather chart //
/////////////////////////
.forecast__chart {
  display: flex;
  justify-content: center;
  width: 240px;
  height: 240px;
}

// Chart BUTTONS //
.chart__previous {
  @include mixins.chart-buttons("\f104");
}
.chart__next {
  @include mixins.chart-buttons("\f105");
}

// Marking current hour //
.current-hour {
  background-color: variables.$clear-white;
}

.error-msg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(84, 84, 84, 0.75); /*Transparent black*/
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.error-msg__body {
  color: rgb(255, 255, 255); /*White*/
  background-color: rgb(220, 53, 69);
  border: 3px solid rgb(185, 31, 47);
  padding: 15px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.error-msg__btn {
  color: rgb(255, 255, 255); /*White*/
  padding: 10px;
  border-radius: 10px;
  background: transparent;
  border: 1px solid rgb(185, 31, 47);

  &::after {
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
    content: "\58";
  }
}

.hide-error-msg {
  display: none;
}

// Tablet view //
@media (min-width: 768px) {
  .hero {
    padding: 20px 20px 50px;

    h1 {
      font-size: 45px;
    }
  }

  .hero__city-info {
    input {
      font-size: 20px;
    }
  }

  .city-info__city-name {
    font-size: 40px;
  }

  .city-info__city-temp {
    font-size: 36px;
  }

  .weekly-weather {
    gap: 10%;
  }

  .weekly-weather__forecast {
    display: flex;
    gap: 100px;
  }

  .forecast__chart {
    width: 300px;
    height: 350px;
  }
}
@media (min-width: 1024px) {
  // .hero {
  //   background-position: center;
  // }
  .daily-weather__results {
    width: 980px;
    margin: 0 auto;
  }
}
