$black-color: rgb(25, 25, 25); // black
$white-color: rgb(243, 243, 243); //white
$clear-white: rgba(255, 255, 255, 0.6); // white + t=0.5
$weather-report-bg: rgb(41, 104, 239); //blue
$current-houre-bg: rgb(14, 70, 190);
